#footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    height: auto;
  }
  .info {
    float: right;
    text-align: center;
    color: white;
    font-size: 0.8em;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(233, 34, 74);
  }